body{
    background: #f5f5f5;
}
.header--1{
    background: linear-gradient(-180deg,#0a64b4,#318dde);
}
.header.header--sticky .menu--product-categories .menu__toggle span{
    color: #fff !important;
}
.header.header--sticky .menu--product-categories .menu__toggle i{
    color: #fff !important;
}
.b__header--top{
    display:block;
    height: 40px;
    line-height: 40px;
}
.b__header--top .b__top-info ul {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.b__header--top .b__top-info ul li {
    list-style: none;
    color: #fff;
    position: relative;
}
.b__header--top .b__top-info ul li a {
    color: #fff;
    position: relative;
    padding-right: 10px;
    margin-right: 10px;
    font-size: 13px;
}
.b__top--left{
    float: left;
}
.b__top--right{
    float: right;
}
.b__header--top .b__top-info ul li a:before {
    content: '';
    width: 1px;
    height: 100%;
    background: rgba(255,255,255,.22);
    position: absolute;
    right: 0;
    top: 0;
}
.header.header--sticky .header__top{
    background: linear-gradient(-180deg,#0a64b4,#318dde);
}
.header__extra{
    color: #fff !important;
}
.ps-block__right a, .ps-block__left i{
    color: #fff !important;
}
.b__tag{
    display: block;
    padding-top: 5px;
}
.b__tag ul {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.b__tag ul li {
    list-style: none;
    margin-right: 15px;
}
.b__tag ul li a {
    color: rgba(255,255,255,.9);
    font-size: 12px;
}
.btn_search{
    background: linear-gradient(to right,#0871ce 1%,#0871ce 100%);
    position: absolute;
    right:3px;
    top: 2px;
    border-radius: 5px;
    padding: 8px 24px;
}
.ps-form--quick-search .form-control{
    border-radius: 0 5px 5px 0;
}
.title_home_main{
    padding: 20px;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 0 !important;
    text-transform: uppercase;
}
.ps-block--category a{
    border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}
.ps-section__header{
    text-transform: uppercase;
    color: #0871ce;
}
.owl-carousel .ps-product{
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
    margin: 5px;
}
.ps-product{
    padding: 5px !important;
    background-color: #fff;
    border-radius: 5px;
}
.ps-product .ps-product__title{
    color: #000 !important;
}
.ps-footer{
    background: #0871ce;
}
.widget_contact-us > .widget_content p, .widget_contact-us > .widget_content h3{
    color: #fff;
}

.widget_contact-us > .widget_content > .ps-list--social li a i{
    color: #fff !important;
}
.product_recoment{

}

.list_recoment_product .ps-product{
    padding:5px;
    margin-bottom: 10px;
}
.title_product_cat{
    text-transform: uppercase;
    padding-bottom: 20px;
}
.list_recoment_product .col-lg-2{
    padding: 0 5px;
}

.ps-container{
    max-width: 1230px !important;
}
.bg-flash-sale{
    padding-bottom: 15px;
}
.header .header__right{
    max-width: 230px;
}
.btn_search{
    padding: 8px 24px !important;
}
.ps-list--link li a, .widget_footer .widget-title{
    color: #fff !important;
}
.ps-footer__links{
    padding: 30px 0;
}
.ps-footer__widgets{
    padding-bottom:0 !important;
}
.ps-footer__copyright{
    padding: 10px 0 !important;
}
.ps-block--category{
    border: 0 !important;
    margin-bottom: 0;
}
.ps-block--category a{
    font-size: 14px !important;
    font-weight: 400;
}
.ps-product{
    margin-bottom: 20px;
}
.ps-btn{
    color: #fff !important;
}